In [34]:
import pandas as pd
import matplotlib.pyplot as plt

# Load data set
data = pd.read_csv('./clean_covid19-2020-04-11-19h00.csv')
print(data.head())
data.columns

  dep  sexe        jour  hosp  rea  rad  dc
0  01     0  2020-03-18     2    0    1   0
1  01     1  2020-03-18     1    0    1   0
2  01     2  2020-03-18     1    0    0   0
3  02     0  2020-03-18    41   10   18  11
4  02     1  2020-03-18    19    4   11   6

Index(['dep', 'sexe', 'jour', 'hosp', 'rea', 'rad', 'dc'], dtype='object')

In [35]:
# Rename column names for more explicit ones
data.rename(columns={
    'sexe': 'gender',
    'jour': 'day',
    'rea': 'reanimation',
    'rad': 'back_home',
    'dc': 'death' }, inplace=True)
data.head()

  dep  gender         day  hosp  reanimation  back_home  death
0  01       0  2020-03-18     2            0          1      0
1  01       1  2020-03-18     1            0          1      0
2  01       2  2020-03-18     1            0          0      0
3  02       0  2020-03-18    41           10         18     11
4  02       1  2020-03-18    19            4         11      6

In [36]:
data.loc[(data.dep == '38')]

     dep  gender         day  hosp  reanimation  back_home  death
114   38       0  2020-03-18    18            2          0      1
115   38       1  2020-03-18    10            1          0      1
116   38       2  2020-03-18     8            1          0      0
417   38       0  2020-03-19    22            2          3      1
418   38       1  2020-03-19    12            1          1      1
...   ..     ...         ...   ...          ...        ...    ...
7087  38       1  2020-04-10   135           47        100     26
7088  38       2  2020-04-10   113            9         99     15
7389  38       0  2020-04-11   246           54        208     45
7390  38       1  2020-04-11   130           44        103     29
7391  38       2  2020-04-11   115           10        103     16

[75 rows x 7 columns]

In [37]:
# count missing values
data.isnull().sum()

dep            3
gender         0
day            0
hosp           0
reanimation    0
back_home      0
death          0
dtype: int64

In [38]:
# remove rows with missing values
data.drop(data.loc[data.dep.isnull()].index, inplace=True)
data.isnull().sum()

dep            0
gender         0
day            0
hosp           0
reanimation    0
back_home      0
death          0
dtype: int64